* {
    margin: 0;
    padding: 0;
}
.box {
    height: 75px;
    width: 75px;
    border: 3px solid black;
    margin-right: 5px;
    margin-left: 5px;
}
.container {
    height: 100px;
    width: 1200px;
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
    display: flex; 
    background-color: aliceblue;
}
#container_1{ justify-content: flex-start;}
#container_2{ justify-content: flex-end; }
#container_3{ justify-content: center;}
#container_4{ justify-content: space-between; }
#container_5{ justify-content: space-around;}
#container_6{ justify-content: space-evenly; }


#box1 { background-color: aqua;}
#box2 { background-color: greenyellow;}
#box3 { background-color: yellow;}
#box4 { background-color: tomato;}